.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}

.grid > div {
    width: 24px;
}

.red {
    color: #d60d0d;
    width: 32px;
    height: auto;
    stroke-width: 2;
}
